/*
Custom Template

*/

body {
	font-size: 13px;
	font-family: 'Open Sans', Arial, sans-serif;
	background: #fff;
	color: #777
}

.upload-label {
    display: inline-block
}

.upload-submit {
    display: inline-block;
    float: right
}

.upload-alert p {
    color: #ff0000;
    font-weight: bold;
    margin-top: 22px;
}

.cell-email, .cell-title, .cell-time, .cell-score {
    font-weight: normal;
    font-size: 12px;
    word-break: normal;
}

.sender-info {
    font-weight: bold;
    text-align: center;
    color: #444;
    overflow-wrap: break-word;
}

.sender-header {
    text-align: center;
    margin: inherit;
}

.sender {
    padding: 10px;
}

.phish-score.big h3 {
    font-size: 48px;
    font-weight: bold;
    margin: 25px;
}

.phish-score.big i {
    font-size: 60pt;
    margin: 10px;
}

.btn:hover, .btn-box:hover {
	-webkit-box-shadow: unset;
	-moz-box-shadow: unset;
	box-shadow: unset
}

p.private {
    color: #bbb
}

div.modal-ip {
    display: inline-block;
    margin: 5px;
    width: 95%;
    vertical-align: top;

}

div.modal-url {
    display: inline-block;
    margin: 5px;
    width: 95%;
    font-size: 10px;
    vertical-align: top;

}

div.ip-row {
    margin-bottom: 20px;
}

.modal-ip > p {
    margin: 0;
}

.view-email {
    float: right
    margin-right: 10px;
}

li.nav-sub > a {
    color: black;
    border-bottom-color: #aaa;
    border-top-color: #aaa;
    background-color: #ddd;
    border: 1px;
}

li.nav-sub > a:hover {
 background-color: grey;
}
.widget-menu > li.subactive a {
    border-bottom-color: #aaa;
    border-top-color: #aaa;
    background-color: #999;
    color: #eee;
}

.widget-menu > li.subactive a:hover {
    background-color: grey;
}

.widget-menu > li.subactive i {
    color: #444;
}

td.word-wrap {
    word-break: break-all;
}

.cell-small p {
    font-weight: normal;
    font-size: 10px;
    word-break: break-all;
}

/*Loader*/
/* Center the loader */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#loaderback {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
}