<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Render</title>
</head>
<body>

<h1>SMTP Traceroute</h1>

<table style="width:100%">
  <tr>
    <th>Domain</th>
    <th>IP Address</th>
  </tr>
{%for relay in ips%}

    <tr>
        <th>{{ relay[0] }}</th>
         {% if relay[1] != "" %}
                <th>{{ relay[1] }}</th>
            {% else %}
                <th>No IP information available</th>
        {% endif %}

    </tr>

{%endfor%}
</table>
</body>
</html>